auto-save-list
backups
*~
.places
places
session.*
tramp
elpa
swank
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
.emacs.desktop*
\#*#
/history
/ido.last
/recentf
/smex-items
server/
eshell/
/ac-comphist.dat
/.org-id-locations
/org-clock-save.el
.mc-lists.el
custom.el
abbrev_defs
.lsp-session*
transient/