*.elc
*~
.DS_Store
.cask
.emacs.desktop*
.lsp-session*
.mc-lists.el
.places
.yas-compiled-snippets.el
/.org-id-locations
/ac-comphist.dat
/history
/ido.last
/org-clock-save.el
/recentf
/smex-items
\#*#
abbrev_defs
auto-save-list
backups
custom.el
elpa
emms
eshell/
places
projectile-bookmarks.eld
projectile.cache
server/
session.*
swank
tramp
transient/
url/
var/
/.last-package-update-day
